<div class="app-hero">
  <section class="heropanel--video hero is-dark is-large">
    <!-- Hero header: will stick at the top -->
    <div class="hero-head">
    </div>

    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">
          TRBL
        </h1>
        <h2 class="subtitle">
          Being connected to the web doesn't mean that we can't connect with our community.
          Take a step forward and contribute to the conversation in your city, your neighborhood, your block.
        </h2>
      </div>
      <app-sign-up></app-sign-up>
    </div>

    <!-- Hero footer: will stick at the bottom -->
    <div class="hero-foot">
      <nav class="tabs">
        <div class="container">
          <ul>
            <li class="is-active"><a>Home</a></li>
            <li><a>About</a></li>
            <li><a>Team</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </section>
</div>
