.app-people-list {
  background-color: #FFF;
  height: 100%;
}

.app-people-list .profile-image {
  line-height: 0;
  margin-right: 5px;
}

.app-people-list .profile-image img {
  max-height: 2.4rem;
  border-radius: 50%;
}

.app-people-list .person-name {
  
}