.app-people-list {
  background-color: #FFF;
  height: 100%;
}

.app-people-list .profile-image {
  line-height: 0;
  margin-right: 5px;
}

.app-people-list .profile-image img {
  max-height: 2.4rem;
  border-radius: 50%;
}

.app-people-list .person-name {
  
}

.app-people-list{
  width: 20vw;
  position: fixed;
  left: 0;
  bottom: 0;
  height: calc(100vh - 52px);
}

@media (max-width: 1200px) {
  .app-people-list{
    width: 20vw;
    min-width: 300px;
    position: fixed;
    right: 20px;
    left: auto;
    bottom: 0;
    height: 47px;
    cursor: pointer;
  }
}

.app-people-list.people-list-open {
  height: auto;
  box-shadow: 0 0 16px 5px rgba(0,0,0,0.1);
}