.app-feed {

}

.app-feed .card {
  border-top: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
}

.app-feed .card .tag-container {
  margin-top: 20px;
}

.app-feed .card .card-footer .likes,
.app-feed .card .card-footer .comments {
  color: #4a4a4a;
  font-size: 10px;
  margin-left: 10px;
}

.app-feed .card .card-footer .likes:hover,
.app-feed .card .card-footer .comments:hover {
  color: #4a4a4a;
}

.app-feed .action-disable {
  pointer-events: none;
}

.app-feed .comment-block {
  border-top: 1px solid #dbdbdb;
  padding: 10px 60px 10px 60px;
}

.app-feed .comment-block textarea {
  resize: none;
  min-height: 30px;
  height: auto;
  line-height: 1rem;
}

.app-feed .comment-block .media-left {
  margin-top: 3px;
}

.app-feed .comment-block .comment-open {
  min-height: 120px;
}

.app-feed .comments-container {
  padding: 10px 60px 10px 60px;
}