<div class="app-feed">
  <div class="feed-container">
    <div class="card" *ngFor="let feedPost of this.feedPosts | distanceFilter:this.locationService.filter">
      <header class="card-header">
        <p class="card-header-title">
          {{feedPost.Title}}
        </p>
      </header>
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img src="{{feedPost.User.ProfileImage}}" alt="Image">
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">{{feedPost.User.FirstName}} {{feedPost.User.LastName}}</p>
            <p class="subtitle is-6">{{feedPost.User.Alias}}</p>
          </div>
        </div>
        <div class="content">
          {{feedPost.Content}}
          <div class="tag-container">
            <span class="tag">
              <small>{{feedPost.Date | date:'medium'}}</small>
            </span>
            <span class="tag">
              <small>{{feedPost.Location.City}}, {{feedPost.Location.State}}</small>
            </span>
          </div>
        </div>
      </div>
      <footer class="card-footer">
        <a class="card-footer-item" (click)="this.addLike(feedPost)" [ngClass]="{'action-disable': this.actionComplete(feedPost)}">
          <span class="icon is-small">
            <i class="fa fa-heart" *ngIf="this.actionComplete(feedPost, 'Likes')"></i>
            <i class="fa fa-heart-o" *ngIf="!this.actionComplete(feedPost, 'Likes')"></i>
          </span>
          <span class="likes">
            {{feedPost.Likes.length}} Likes
          </span>
        </a>
        <a class="card-footer-item" (click)="feedPost.showComments = !feedPost.showComments">
          <span class="icon is-small">
            <i class="fa fa-comment" *ngIf="this.actionComplete(feedPost, 'Comments')"></i>
            <i class="fa fa-comment-o" *ngIf="!this.actionComplete(feedPost, 'Comments')"></i>
          </span>
          <span class="comments">
            {{feedPost.Comments.length}} Comments
          </span>
        </a>
        <a class="card-footer-item" (click)="this.share()">
          <span class="icon is-small">
            <i class="fa fa-share-square-o"></i>
          </span>
        </a>
      </footer>
      <div class="comment-block">
        <article class="media">
          <figure class="media-left">
            <p class="image is-24x24">
              <img src="{{this.apiService.user.ProfileImage}}">
            </p>
          </figure>
          <div class="media-content">
            <div class="field">
              <p class="control">
                <textarea id="{{feedPost._id}}-feedpost-comment" class="feedpost-comment-textarea textarea is-small" placeholder="Add a comment..." 
                  (keydown)="this.keyDownCheck($event, feedPost)"></textarea>
              </p>
            </div>
          </div>
        </article>
      </div>
      <div class="comments-container" *ngIf="feedPost.showComments">
        <article class="media" *ngFor="let comment of feedPost.Comments">
          <figure class="media-left">
            <p class="image is-24x24">
              <img src="{{comment.User.ProfileImage}}">
            </p>
          </figure>
          <div class="media-content">
            <div class="content is-small">
              <p>
                <strong>{{comment.User.FirstName}} {{comment.User.LastName}}</strong>
                <br>
                {{comment.Content}}
                <br>
                <small><a>Like</a> · <a>Reply</a> · 2 hrs</small>
              </p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
