.app-home {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background: #F1F2B5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #135058, #F1F2B5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #135058, #F1F2B5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Roboto', sans-serif;
  align-items: center;
}

.app-home .feed-container {
  width: 50vw;
  min-height: calc(100vh - 52px);
  margin-top: 82px;
  margin-bottom: 50px;
}

.app-home .people-list-container {
  width: 20vw;
  position: fixed;
  left: 0;
  bottom: 0;
  height: calc(100vh - 52px);
}

@media (max-width: 1200px) {
  .app-home .people-list-container {
    width: 20vw;
    min-width: 300px;
    position: fixed;
    right: 20px;
    left: auto;
    bottom: 0;
    height: 47px;
    cursor: pointer;
  }

  .app-home .feed-container {
    width: 90vw;
    min-height: calc(100vh - 52px);
    margin-top: 82px;
    margin-bottom: 50px;
  }
}

.app-home .people-list-open {
  height: auto;
  box-shadow: 0 0 16px 5px rgba(0,0,0,0.1);
}