<div class="app-home">
  <div *ngIf="!authService.authenticated()">
    <div class="hero-container">
      <app-hero></app-hero>
    </div>
  </div>
  <div *ngIf="authService.authenticated()">
    <app-navigation></app-navigation>
    <div class="feed-container">
      <app-post></app-post>
      <app-distance-filter-tabs></app-distance-filter-tabs>
      <app-feed></app-feed>
    </div>
    <div class="people-list-container">
      <app-people-list></app-people-list>
    </div>
  </div>
</div>
