.app-navigation {
  position: fixed;
  top: 0;
  left:0;
  width: 100vw;
}

.app-navigation .nav-logo {
  font-size: 36px;
  font-family: 'Permanent Marker', cursive;
}

.app-navigation .nav-left {
  overflow: hidden;
}

.app-navigation .profile-image img {
  max-height: 2.4rem;
  border-radius: 50%;
}

.app-navigation .profile-image-item {
  line-height: 0;
}