<div class="app-navigation">
  <nav class="nav has-shadow">
    <div class="container">
      <div class="nav-left">
        <a class="nav-item is-tab is-hidden-mobile" routerLink="/home" routerLinkActive="is-active">Home</a>
        <a class="nav-item is-tab is-hidden-mobile">About</a>
        <a class="nav-item is-tab is-hidden-mobile">Contact</a>
      </div>
      <div class="nav-center">
        <a class="nav-item" routerLink="/home">
          <span class="nav-logo">TRBL.</span>
        </a>
      </div>
      <span class="nav-toggle" (click)="this.showMenu = !this.showMenu">
        <span></span>
        <span></span>
        <span></span>
      </span>
      <div class="nav-right nav-menu" [ngClass]="{'is-active': this.showMenu}">
        <a class="nav-item is-tab is-hidden-tablet is-active">Test</a>
        <a class="nav-item is-tab is-hidden-tablet">About</a>
        <a class="nav-item is-tab is-hidden-tablet">Contact</a>
        <a class="nav-item is-tab profile-image-item" routerLink="/profile" routerLinkActive="is-active">
          <figure class="profile-image" *ngIf="this.apiService.user.ProfileImage !== ''">
            <img src="{{this.apiService.user.ProfileImage}}">
          </figure>
        </a>
        <a class="nav-item is-tab" (click)="this.authService.login()" *ngIf="!this.authService.authenticated()">Sign In</a>
        <a class="nav-item is-tab" (click)="this.authService.logout()" *ngIf="this.authService.authenticated()">Sign Out</a>
      </div>
    </div>
  </nav>
</div>
